<header class="main_menu py-1 px-3 bg-white">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12">
        <nav class="navbar navbar-expand navbar-light justify-content-between">
          
          <!-- Logo alineado más a la izquierda -->
          <a class="navbar-brand d-flex align-items-center" routerLink="/home-admin">
            <img src="assets/nexlogov2.png" alt="logo" class="me-2" style="height: 40px;">
          </a>

          <!-- Menú-->
          <ul class="navbar-nav ms-auto d-flex align-items-center gap-3">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home-admin">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/gestion-reportes">Manage Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/gestion-categorias">Manage Categories</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>