<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="inicio.component.css">
</head>

<body>
    <div class="contenedor-inicio">
        <!-- Parte izquierda -->
        <div class="contenedor-izquierdo">
            <img src="assets/nexlogo.png" class="logo-inicio" alt="NEX Logo">
            <h1>Bienvenido a NEX</h1>
            <p>
                En NEX, creemos que la seguridad comienza con la conciencia y la acción. Nuestra plataforma te da el poder
                de reportar incidentes, mantenerte informado y colaborar con tu comunidad para crear un entorno más seguro
                para todos. <br><br>
                Cada reporte cuenta, y juntos podemos prevenir riesgos, responder más rápido y construir una comunidad más
                fuerte y conectada.
                Únete a nosotros para marcar la diferencia, ¡porque la seguridad es una responsabilidad compartida!
            </p>
            <a href="login" class="btn-inicial">Empecemos</a>
        </div>

        <!-- Parte derecha -->
        <div class="contenedor-derecho">
            <img src="assets/ambulancia.png" alt="Ambulancia" class="imagen-circular imagen-circular2">
            <img src="assets/policia.png" alt="Policia" class="imagen-circular imagen-circular4">
            <img src="assets/patrulla.png" alt="Patrulla" class="imagen-circular imagen-circular1">
            <img src="assets/rescate.png" alt="Rescate" class="imagen-circular imagen-circular3">
        </div>
    </div>
</body>
