<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Archivo:400,600&display=swap" rel="stylesheet" />
  <link href="inicio.component.css" rel="stylesheet" />
  <title>NEX - Community Safety Hub</title>
</head>

<body>
  <div class="v272_3">
    <div class="fondo"></div>

    <!-- Contenedor de imágenes -->
    <div class="imagenes-container">
      <div class="imagen-circular img-rescate"></div>
      <div class="imagen-circular img-patrulla"></div>
      <div class="imagen-circular img-policia"></div>
      <div class="imagen-circular img-ambulancia"></div>
    </div>

    <div class="btnGetStarted">
      <span>GET STARTED</span>
    </div>

    <span class="texto-inicial">
      At NEX, we believe that safety starts with awareness and action. Our platform empowers you to report incidents,
      stay informed, and collaborate with your community to create a safer environment for everyone.
      Every report matters, and together, we can prevent risks, respond faster, and build a stronger, more connected
      community. Join us in making a difference – because safety is a shared responsibility!
    </span>

    <span class="texto-titulo">
      Welcome to NEX – Your Community Safety Hub!
    </span>

    <div class="barra-rectangulo"></div>
    <div class="circulo-barra"></div>
    <div class="logo"></div>

    <a href="/login" class="text-decoration-none">
      <div class="btn-login">
        <span class="text-decoration-none">LOGIN</span>
      </div>
    </a>
    <a href="/registro" class="text-decoration-none">
      <div class="btn-signUp">
        <span>SIGN UP</span>
      </div>
    </a>
  </div>

</body>

</html>