<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Archivo:400,600&display=swap" rel="stylesheet" />
  <link href="login.component.css" rel="stylesheet" />
  <title>NEX - Login</title>
</head>

<body>
  <div class="contenedor-login">
    <div class="formulario">
      <h1 class="titulo">LOGIN</h1>

      <div class="grupo-campo">
        <img src="/assets/user.png" alt="User Icon" class="icono-campo">
        <input type="email" placeholder="Email">
      </div>

      <div class="grupo-campo">
        <img src="/assets/pwd.png" alt="Password Icon" class="icono-campo">
        <input type="password" placeholder="Password">
      </div>

      <a href="#" class="enlace-recuperar">Forgot your password?</a>


      <div class="boton boton-login">LOGIN</div>
      <a href="/registro" class="boton boton-registro text-decoration-none">REGISTER</a>
    

      <img src="/assets/minilogo.png" alt="Mini Logo" class="logo-mini">
    </div>

    <div class="seccion-marca">
      <img src="/assets/nexlogo.png" alt="NEX Logo" class="logo-nex">
    </div>
  </div>
</body>

</html>