<div class="contenedor-principal">
  <div class="container">
    <h1 class="mb-4">Administration</h1>
    <div class="row">
      
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Manage Reports</h5>
            <p class="card-text">Manage and review reports created by users.</p>
            <a href="/gestion-reportes" class="btn btn-primary">Reports</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Manage Categories</h5>
            <p class="card-text">Create, edit, or delete categories for reports.</p>
            <a href="/gestion-categorias" class="btn btn-primary">Categories</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Manage Comments</h5>
            <p class="card-text">Moderates comments made by users.</p>
            <a href="/admin/manage-commentaries" class="btn btn-primary">Comments</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>